
{% extends "base.html" %}

{% block page_content %}


<main class="flex-shrink-0">
  	<div class="container">
		<div class="container-fluid content-center">

			<div class="container card" style="height: 23rem;" >
				<div class="card-body">
					<h5 class="card-title">About payUP</h5>
					<p class="toast-body" style="font-family; weight:bold; 
					 'Roboto', sans-serif;"> 
					payUP payroll management system is the system by which an employer can 
					manage the wages and salaries of the employees. The salary structure 
					includes salary, allowances, deductions, and net payable to the employees.
					</p>
					<p class="card-text toast-body" style="font-family; weight:bold; 
					 'Indie Flower', cursive;">
					This system can be integrated with leave and attendance tracking systems 
					and employee self-service portal and are used to keep track of employee's
					working hours, calculate salaries, calculate taxes and deductions, 
					print payslip, etc.
					</p>
					<p class="card-text toast-body" style="font-family; weight:bold; 
					 'Indie Flower', cursive;">
					These complicated computations that are performed manually can be automated
					 using payUP payroll management system.</p>
				</div>
			</div>
		</div>
	</div>
	
	<!--- 
	<div class="form-group">
    <label for="exampleFormControlFile1">Example file input</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
	--->
	<p>
	</p>
</main>
{% endblock %}

