{% extends "base.html" %}

{% block page_content %}

{% from "includes/_formhelpers.html" import render_field %}
{% from "includes/_uploads_formhelpers.html" import render_field %}


<main class="flex-shrink-0">
	<div class="container">
		<div class="container-fluid content-center" >
			<!--form start -->
			<form method="POST" action="" role="form" class="container card text-success" >
			
				<!--header for the form -->  
				<h4 class="form-header text-center"> Employee Enrolment</h4>
				  
				<!--personal information header -->
				<div class="mb-3 text-left">
					<h5 class="text-dark text-success" 
					style="font-family: 'Raleway', sans-serif;">
					Personal Information</h5>
				    	<hr>
				</div>
		  
			  	<!--row containing first and last name -->
			  	<div class="row">
		    		<!--first name block -->
		    			<div class="mb-3 col-md-6">
		              			{{render_field(form.fname, 
		              			class_="form-control")}}
		    			</div>
		    			<!--last name block -->
		    			<div class="mb-3 col-md-6">
		              			{{render_field(form.lname, 
		              			class_="form-control")}}
		    			</div>
		 		</div>
		 
		 		<!--row containing phone number and email fields -->
		 		<div class="row">
		  			<!--phone number field -->
		    			<div class="mb-3 col-md-6">
		              			{{render_field(form.pnumber, 
		              			class_="form-control")}}
		    			</div>
		  			<!--email address field -->
		    			<div class="mb-3 col-md-6">
		              			{{render_field(form.email, 
		              			class_="form-control")}}
		    			</div>
		    			
					<div class="custom-file  card col-md-6 mb-2">
						<!--input type="file" class="custom-file-input" 
						name = "image" onchange="readURL(this);" 
						id="validatedCustomFile" required-->
						{{render_field(form.image, 
		              			class_="custom-file-input", 
		              			 onchange="readURL(this);" , 
						id="validatedCustomFile" )}}
						<!--label class="custom-file-label"
						  for="validatedCustomFile">Choose image 
						  file...</label-->
						<img class="img-responsive mx-auto" 
						style="width:100%; height: 230px;"  id="blah" 
						src="{{url_for('static', 
						filename='images/upload_passport.jpg')}}"  
						alt="Upload image" />
					</div>
		 		</div>
          			<br>
          			<!--payment method header -->
          			<div class="row ml-0 mb-3  text-right">
          			<div class="mb-3 col-md-4">
            				<h5 class="text-dark"
            				style="font-family: 'Raleway', sans-serif;">
            				Staff Type: </h5>

          			</div>
          
          			<!--row containing payment methods -->
          			
				<!--block with image and checkbox -->
             				<!--div class="col-md-4 form-check">
			 	 		<input class="form-check-input" type="radio"
			 	 		 name="flexRadioDefault" id="flexRadioDefault1"
			 	 		  onclick="Check()" checked>
			 	 		</input>
			  			<label class="form-check-label"
			  			 for="flexRadioDefault1">
							Contract
			  			</label>
					</div>
					<div class="col-md-4 form-check">
			  			<input class="form-check-input" type="radio"
			  			 name="flexRadioDefault" id="flexRadioDefault2"
			  			  onclick="Check()">
			  			</input>
			  			<label class="form-check-label"
			  			 for="flexRadioDefault2">
							Permanent
						</label>
					</div-->
					{{render_field(form.staff_type, 
		              			class_="col-md-4")}}
				        <hr>	
				</div>
          
          			<!--payment information header -->
          			<div class="mb-3 text-left">
            				<h5 class="text-dark"
            				style="font-family: 'Raleway', sans-serif;">
            				Bank Information</h5>
            				<hr>
          			</div> 
                 
          			<!--div1 start -->       
       	  		<div id="div1">
                          
              				<!--div block for card holder's name -->
                			<div class="mb-3">
                    				{{render_field(form.acct_name, 
                    				class_="form-control")}}
                			</div>
                
                		<!--block gor card number -->
                		<div class="mb-3">
                    			{{render_field(form.acct_number, 
                    				class_="form-control")}}
                		</div>
                
                		<!--div block with row containg 3 fields -->
                		<div class="row">
                      			<!--div block for selection of month -->
                      			<div class="col-md-4 mb-3 pr-md-0">
                      				{{render_field(form.acct_type, 
                      				class_="form-control")}}
                      			</div>
                      			<!--div block for selection of year -->
                      			<!--div class="col-md-4 mb-3 pr-md-0">
                      				<select name="date" class="form-select">
                          				<option value="">Year</option>
                          				<option>2020</option>
                          				<option>2021</option>
                          				<option>2022</option>
                          				<option>2023</option>
                          				<option>2024</option>
                          				<option>2025</option>
                          				<option>2026</option>
                          				<option>2027</option>
                          				<option>2028</option>
                          				<option>2029</option>
                          				<option>2030</option>
                      				</select>
                      			</div-->
                      			<!--div block for CVV input field -->
                      			<div class="col-md-4 mb-3">
                      				{{render_field(form.acct_sort_number,
                      				 class_="form-control")}}
                      			</div>  
                		</div>
                
                		<!--div block for full name on card -->                    
                		<div class="mb-3">
                    			{{render_field(form.bank_name, class_="form-control")}}
                		</div>
                
          		</div> 
          		<!--div1 end -->
       
       
          		<!--div2 start -->
          		<div id="div2">
          
       			<!--div block for paypal address on card -->                    
                		<div class="mb-3">
   					{{render_field(form.bank_branch_addr, 
   					class_="form-control")}}
  		  	    	</div>
                
          		</div>
         		 <!--div2 end -->

       
          		<!--Home address header -->  
          		<div class="mb-3 text-left">
            			<h5 class="text-dark"
            			style="font-family: 'Raleway', sans-serif;">
            			Home Address</h5>
            			<hr>
          		</div>
          
          		<!--div block for street address field -->
          		<div class="mb-3">
            			{{render_field(form.home_addr1, class_="form-control")}}
          		</div>
          		<div class="mb-3">
            			{{render_field(form.home_addr2, class_="form-control")}}
          		</div>
          
          		<!--row containing country and state field -->
          		<div class="row">
            			<div class="mb-3 col-md-6">
   					{{render_field(form.country, class_="form-control")}}
  		  		</div>
            			<div class="mb-3 col-md-6">
   					{{render_field(form.state, class_="form-control")}}
  		  		</div>
          		</div> 
         
         		<!--row containing city and postal/zip code field -->
         		<div class="row">
          			<div class="mb-3 col-md-6">
   					{{render_field(form.city, class_="form-control")}}
  		  		</div>
          			<div class="mb-3 col-md-6">
   					{{render_field(form.postal_zip_code, 
   					class_="form-control")}}
  		  		</div>
         		</div> 
          
          		<!--div block for done button -->
          		<div class="mb-3 text-center">
            			<!--button class="btn btn-default col-md-4" 
            			type="submit">Submit Application</button-->
           			<div class="d-grid gap-1 d-md-flex justify-content-md-middle">
					<button type="submit" class="btn btn-primary btn-lg">
					Submit </button>
					<button type="reset"  class="btn btn-danger  btn-lg">
					Clear Form</button>
				</div>
          		</div>
        	</form>
        	<!--form end -->
    	</div>
     	<!--col-md-7 end -->
</div> 
<!--container end -->
</main>
{% endblock %}
