
{% extends "base.html" %}

{% block page_content %}

<!-- Begin page content -->
<main  class="flex-shrink-0">
  	<div class="container">
  	
  		<div class="card border-success mb-3" style="height: 23rem;" >
  		<div class="jumbotron" style="max-width: 100%; max-height: 23rem;" >
  		<img class="img-fluid" style="max-width: 100%; max-height: 23rem;"
		src="{{url_for('static', filename='images/currency.jpg')}}"  >
		  	​<!--picture>
  <img src="{{url_for('static', filename='images/currency.jpg')}}" class="img-fluid img-thumbnail" style="max-width: 100%; height: auto; alt="...">
</picture-->		
		  			
  			
 		 </div>
 	</div>
</main>
{% endblock %}

