
{% extends "base.html" %}

{% block page_content %}

<!-- Begin page content -->
<main class="flex-shrink-0" style="padding-right:0;margin-left: 0 !important;">
  	<div class="container mx-auto">
		<div class="container-fluid content-center mx-auto" style=" margin-left: 0 !important; padding-left;">
  			<div class="container card border-success mb-3 mx-auto" style="height: 23rem; margin-left:0" >
  			<!--div class="jumbotron" style="max-width: 100%; max-height: 23rem;" -->
  				<img class="img-responsive mx-auto rounded" style="width: 100%; max-height: 23rem;"
				src="{{url_for('static', filename='images/currency.jpg')}}" >
		  	​	<!--picture>
  					<img src="{{url_for('static', filename='images/currency.jpg')}}" 
  					class="img-fluid img-thumbnail" style="max-width: 100%; height: auto; alt="...">
				</picture-->	
			</div>	
			<!--p class="text-warning">
				{% with messages = get_flashed_messages() %}
	  					{% for message in messages %}
	      						{{ message }}
	      					{% endfor %}
				{% endwith %}
			</p-->
			<!--
			{% with messages = get_flashed_messages() %}
			<div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
  				<div class="toast-header">
    					<strong class="me-auto">Status</strong>
    					<button type="button" class="btn-close ms-2 mb-1" 
    						data-bs-dismiss="toast" aria-label="Close">
      						<span aria-hidden="true"></span>
    					</button>
  				</div>
  				<div class="toast-body text-warning">
  					{% for message in messages %}
    						{{ message }}	
    					{% endfor %}
  				</div>
			</div>
			{% endwith %}
			-->
			
			{% with messages = get_flashed_messages() %}
			<div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
  				<div class="toast-header">
    					<strong class="me-auto">Status</strong>
    					<!--small>11 mins ago</small-->
    					<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close">
    					</button>
  				</div>
  				<div class="toast-body text-warning">
    					{% for message in messages %}
    						{{ message }}	
    					{% endfor %}
  				</div>
			</div>
			{% endwith %}
			
			
			
		</div>	
  	</div>
</main>
{% endblock %}

